:root {
  /* Primary */
  --blue-500: hsl(223, 87%, 63%);

  /*Secondary */
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);

  /* Neutral */
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
}

html {
    font-size: 20px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
    font-family: "Libre Franklin", sans-serif;
    margin: 2rem;
    text-align: center;
    min-height: 100vh;
}

.launch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.launch__header-logo {
    margin: 2.2rem auto;
    width: 2.7rem;
    height: 0.8rem;
}

.launch__content-title {
    font-size: 1.105rem;
    font-weight: 300;
    color: var(--gray-400)
}

.launch__content-title span {
    font-weight: 700;
    color: var(--blue-950);
}

.launch__content-text {
    margin-top: 1rem;
    font-size: 0.6rem;
    color: var(--blue-950);
    font-weight: 300;
}

.launch__content-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.launch__content-input {
    border: 1px solid var(--blue-200);
    border-radius: 50px;
    padding: .55rem 1rem;
    font-size: .6rem;
    font-weight: 300;
    width: 100%;
}

.launch__content-input:focus {
    border: 1px solid var(--blue-500);
    outline: none;
}

.launch__content-input.active {
border: 1px solid var(--red-400);
}

.launch__content-input::placeholder {
    color: var(--blue-200);
}

/* .launch__content-input.placeholder::placeholder {
    color: var(--blue-950);
} */

.launch__content-error {
    color: var(--red-400);
    font-weight: 300;
    font-style: italic;
    margin-top: .4rem;
    /* margin-left: 2rem; */
    font-size: .52rem;
    display: flex;
    justify-content: center;
}

.launch__content-button {
    margin-top: .5rem;
    background-color: var(--blue-500);
    box-shadow: 0 2px 7px hsla(223, 87%, 63%, .7);
    border-radius: 50px;
    padding: .6rem 1rem;
    color: white;
    font-size: .6rem;
    font-weight: 600;
    cursor: pointer;
}

.launch__content-button:hover {
    background-color: hsla(223, 87%, 63%, .9);
}


.launch__content-wrapper {
    margin-top: 3.5rem;
}

.launch__footer {
    margin-top: 7rem;
}

.launch__footer-social-list {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: .4rem;
}


.launch__footer-social-icon {
    border: 1px solid var(--blue-200);
    border-radius: 50%;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.launch__footer-social-icon box-icon{
    width: 1rem;
    height: 1rem;
    fill: var(--blue-500);
}

.launch__footer-social-icon:hover{
    background-color: var(--blue-500);
}

.launch__footer-social-icon:hover box-icon {
    fill: white;
}

.launch__footer-copyright {
    font-size: 0.5rem;
    font-weight: 300;
    color: var(--gray-400)
}

@media (min-width: 1440px) {
    body {
        overflow-y: scroll;
    }

    .launch__header-logo {
    width: 4rem;
    height: 1.31rem;
}
.launch__content-title {
    font-size: 2.25rem;
}
.launch__content-text {
    font-size: 0.93rem;
}
.launch__content-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-top: 1.5rem;
    gap: 0.7rem;
}

.launch__content-input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: .25;
}

.launch__content-input {
    max-width: 19.6rem;
    width: 100%;
    padding: 0.9rem 1.2rem;
    font-size: 0.8rem;
}
.launch__content-button {
    width: 10rem;
    max-width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 50px;
    font-size: 0.8rem;
}

.launch__content-wrapper {
    display: flex;
    justify-content: center;
}

.launch__content-image {
    width: 32rem;
    height: auto;
}

.launch__footer {
    margin-top: 3.9rem;
}
.launch__footer-copyright {
    font-size: 0.6rem;
}
.launch__content-error {
 
    font-size: .62rem;
}

}